# Força o GitHub a reconhecer arquivos .js como a linguagem principal
*.js linguist-language=JavaScript

# Diz ao GitHub para não contar o peso do arquivo index.html no gráfico
index.html linguist-vendored